{% extends "base.html" %}
{% block title %}
	<title>Home</title>
{% endblock %}
	
{% block content %}
<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to Hafiz Bross</h2>
				<p class="col-12 text-center">Lorem ipsum dolor sit amet, civibus vivendum an pri, aperiam accusam omnesque ut mel. Mei eu meis salutatus. Populo necessitatibus quo cu, eos cetero vivendum cu. Vim fuisset definiebas signiferumque ei, nam persius meliore principes et, no mel facete feugait voluptatibus.</p>
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item" id="all"><a href="#" class="tm-paging-link active">All</a></li>
						<li class="tm-paging-item" id="woven"><a href="#" class="tm-paging-link">Woven</a></li>
						<li class="tm-paging-item" id="print"><a href="#" class="tm-paging-link">Printed</a></li>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-pizza" class="tm-gallery-page table_body">
					{% include 'products.html' %}
                </div> <!-- gallery page 1 -->
				

			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="/static/img/img-01.jpg" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box"> 
							<h4 class="tm-gallery-title">Maecenas nulla neque</h4>
							<p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
							<a href="about.html" class="tm-btn tm-btn-default tm-right">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</main>

{% endblock %}
{% block footer %}

{% endblock %}