{% extends "base.html" %}
{% block title %}
	<title>Home</title>
{% endblock %}
	
{% block content %}
<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">{{ home.banner_title }}</h2>
				<p class="col-12 text-center">{{ home.banner_details }}</p>
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul class="appDetails">
						<li class="tm-paging-item"><button id="all" class="tm-paging-link active">All</button></li>
						<li class="tm-paging-item"><button id="woven"  class="tm-paging-link">Woven</button></li>
						<li class="tm-paging-item"><button id="print" class="tm-paging-link">Printed</button></li>
					</ul>
				</nav>

			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				{% include 'products.html' %}
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="media/{{ home.image }}" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box"> 
							<h4 class="tm-gallery-title">{{ home.detail_heading }}</h4>
							<p class="tm-mb-45">{{ home.details }}</p>
						</div>
					</div>
				</div>
			</div>
		</main>

{% endblock %}
{% block footer %}
{% endblock %}